#Options +FollowSymlinks
RewriteEngine On

#handle one-sentence services (.*)/
RewriteCond %{REQUEST_URI} !/favicon\.ico$
RewriteCond %{REQUEST_FILENAME} !index\.php$
RewriteCond %{REQUEST_URI} !/stylesheets/
RewriteCond %{REQUEST_URI} !/javascripts/
RewriteRule ^([^/]+)/ index.php?action=$1 [QSA,L]

#anything after that does not belong above
RewriteCond %{REQUEST_URI} !/favicon\.ico$
RewriteCond %{REQUEST_URI} !/stylesheets/
RewriteCond %{REQUEST_URI} !/javascripts/
RewriteRule ^.*$ index.php [QSA,L]